<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>E-Ticaret</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="~/electro-master/css/bootstrap.min.css"/>

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="~/electro-master/css/slick.css"/>
    <link type="text/css" rel="stylesheet" href="~/electro-master/css/slick-theme.css"/>

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="~/electro-master/css/nouislider.min.css"/>

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="~/electro-master/css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="~/electro-master/css/style.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<!-- HEADER -->
<header>
    <!-- TOP HEADER -->
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-left">
                <li>
                    <a href="#">
                        <i class="fa fa-envelope-o"></i> @ViewBag.v4
                    </a>
                </li>
            </ul>
            <ul class="header-links pull-right">
                <div class="dropdown">
                    <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown">
                        <i class="fa fa-user-o"></i>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">

                        <li>
                            <a href="/User/Index/2" style="color: black">Profilim</a>
                        </li>
                        <li>
                            <a href="/UserMail/Reciver/2" style="color: black">Dilek Ve Şikayet</a>
                        </li>
                        <li>
                            <a href="/Login/Logout" style="color: black">Çıkış Yap</a>
                        </li>
                    </ul>
                </div>
            </ul>
        </div>
    </div>
    <!-- /TOP HEADER -->

    <!-- MAIN HEADER -->
    <div id="header">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-3">
                    <div class="header-logo">
                        <a href="#" class="logo d-flex">
                            <img src="~/electro-master/logo/b-logo2.jpeg" width="70px" alt="" style="border-radius: 20px;">
                        </a>

                    </div>
                </div>
                <!-- /LOGO -->

                <!-- SEARCH BAR -->
                <div class="col-md-5">

                </div>
                <!-- /SEARCH BAR -->

                <!-- ACCOUNT -->
                <div class="col-md-4 clearfix">
                    <div class="header-ctn">
                        <!-- Wishlist -->


                        <!-- /Wishlist -->

                        <!-- Cart -->
                        <div class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                <i class="fa fa-shopping-cart"></i>
                                <span>Sepetim</span>
                                <div class="qty">@ViewBag.Cart</div>
                            </a>
                            <div class="cart-dropdown">
                                <div class="cart-summary">
                                    <small>Sepetinizde Toplam @ViewBag.Cart Adet Ürün Bulunuyor. </small>
                                    <h5>Toplam Tutar: @ViewBag.Price TL</h5>
                                </div>
                                <div class="cart-btns">
                                    <a href="/Cart/Index/">Sepeti Gör</a>
                                    <a href="/Cart/Index/">Sepeti Düzenle<i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a href="/User/Favories/2">
                                <i class="fa fa-heart-o"></i>
                                <span>Favorilerim</span>
                                <div class="qty">@ViewBag.fav</div>
                            </a>
                        </div>
                        <div>
                            <a href="/User/Orders/2">
                                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                                <span>Siparişler</span>
                            </a>
                        </div>

                        <div class="menu-toggle">
                            <a href="#">
                                <i class="fa fa-bars"></i>
                                <span>Menu</span>
                            </a>
                        </div>


                    </div>
                </div>
                <!-- /ACCOUNT -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->

<!-- NAVIGATION -->
<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li>
                    <a href="/Home/Index/">Ana Sayfa</a>
                </li>
                <li>
                    <a href="/Home/HomePage/">Tüm Ürünler</a>
                </li>
                <li>
                    <a href="/Home/CheapProducts/">Fırsat Ürünleri</a>
                </li>
                <li>
                    <a href="/Home/Almostdone/">Son Kalanlar</a>
                </li>
                <li>
                    <p></p>
                    <div class="dropdown">
                        <button class="btn btn-priamry dropdown-toggle" type="button" data-toggle="dropdown">
                            <i class="fa fa-user-o"></i> Ürünlerim
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">

                            <li>
                                <a href="/User/Index/2" style="color: black">Onaylanan Ürünler</a>
                            </li>
                            <li>
                                <a href="/User/ApprovedProducts/2" style="color: black">Onay Bekleyen</a>
                            </li>
                            <li>
                                <a href="/UserProduct/ProductsSold/">Aldıklarım</a>
                            </li>
                            <li>
                                <a href="/UserProduct/ProductsReceived/">Sattıklarım</a>
                            </li>

                        </ul>
                    </div>
                </li>
            </ul>
            <!-- /NAV -->
        </div>

        <!-- /responsive-nav -->
    </div>

    <!-- /container -->
</nav>
<!-- /NAVIGATION -->


@RenderBody()

<!-- NEWSLETTER -->
<div id="newsletter" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="newsletter">

                    <ul class="newsletter-follow">
                        <li>
                            <a href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-pinterest"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /NEWSLETTER -->

<!-- FOOTER -->
<footer id="footer">
    <!-- top footer -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">About Us</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
                        <ul class="footer-links">
                            <li>
                                <a href="#"><i class="fa fa-map-marker"></i>1734 Stonecoal Road</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-phone"></i>+021-95-51-84</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-envelope-o"></i>email@email.com</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Categories</h3>
                        <ul class="footer-links">
                            <li>
                                <a href="#">Hot deals</a>
                            </li>
                            <li>
                                <a href="#">Laptops</a>
                            </li>
                            <li>
                                <a href="#">Smartphones</a>
                            </li>
                            <li>
                                <a href="#">Cameras</a>
                            </li>
                            <li>
                                <a href="#">Accessories</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="clearfix visible-xs"></div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Information</h3>
                        <ul class="footer-links">
                            <li>
                                <a href="#">About Us</a>
                            </li>
                            <li>
                                <a href="#">Contact Us</a>
                            </li>
                            <li>
                                <a href="#">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#">Orders and Returns</a>
                            </li>
                            <li>
                                <a href="#">Terms & Conditions</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Service</h3>
                        <ul class="footer-links">
                            <li>
                                <a href="#">My Account</a>
                            </li>
                            <li>
                                <a href="#">View Cart</a>
                            </li>
                            <li>
                                <a href="#">Wishlist</a>
                            </li>
                            <li>
                                <a href="#">Track My Order</a>
                            </li>
                            <li>
                                <a href="#">Help</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /top footer -->

    <!-- bottom footer -->
    <div id="bottom-footer" class="section">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="footer-payments">
                        <li>
                            <a href="#">
                                <i class="fa fa-cc-visa"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-credit-card"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-cc-paypal"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-cc-mastercard"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-cc-discover"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-cc-amex"></i>
                            </a>
                        </li>
                    </ul>
                    <span class="copyright">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </span>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /bottom footer -->
</footer>
<!-- /FOOTER -->

<!-- jQuery Plugins -->
<script src="~/electro-master/js/jquery.min.js"></script>
<script src="~/electro-master/js/bootstrap.min.js"></script>
<script src="~/electro-master/js/slick.min.js"></script>
<script src="~/electro-master/js/nouislider.min.js"></script>
<script src="~/electro-master/js/jquery.zoom.min.js"></script>
<script src="~/electro-master/js/main.js"></script>

</body>
</html>