@model eTicaretEL.Dtos.ProductDto?

@{
    ViewBag.Title = "title";
    Layout = "_LayouteTicaret";
}

<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Product main img -->
            <div class="col-md-5 col-md-push-2">
                <div id="product-main-img">
                    <div class="product-preview">
                        <img src="~/electro-master/img/@Html.DisplayFor(x => x.Img)" alt="">
                    </div>
                </div>
            </div>
            <!-- /Product main img -->

            <!-- Product thumb imgs -->
            <div class="col-md-2  col-md-pull-5">
                <div id="product-imgs">
                    <div class="product-preview">
                        <img src="~/electro-master/img/@Html.DisplayFor(x => x.Img)" alt="">
                    </div>

                </div>
            </div>
            <!-- /Product thumb imgs -->

            <!-- Product details -->
            <div class="col-md-5">
                <div class="product-details">
                    <h2 class="product-name">@Html.DisplayFor(x => x.Name)</h2>
                    <div>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <a class="review-link" href="/Home/UserProfile/@Html.DisplayFor(x => x.UserId)">Satıcı @Html.DisplayFor(x => x.UserName)</a>
                    </div>
                    <div>
                        <h3 class="product-price">$@Html.DisplayFor(x => x.Price) <del class="product-old-price">$@Html.DisplayFor(x => x.Price)</del></h3>
                        <span class="product-available">Stokta Mevcut</span>
                    </div>
                    <p>@Html.DisplayFor(x => x.Description)</p>

                    <div class="product-options">
                        <label>
                            Size
                            <select class="input-select">
                                <option value="0">X</option>
                            </select>
                        </label>
                        <label>
                            Color
                            <select class="input-select">
                                <option value="0">Red</option>
                            </select>
                        </label>
                    </div>

                    <div class="add-to-cart">
                    
                        <form method="post" asp-controller="Cart" asp-action="CartItemAdd">
                            <input type="hidden" name="CartId" value="@ViewBag.CartId"/>
                            <input type="hidden" name="ProductId" value="@Html.DisplayFor(x => x.Id)"/>
                            <button class="add-to-cart-btn" type="submit">
                                <i class="fa fa-shopping-cart"></i> Sepete Ekle
                            </button>
                        </form>
                    </div>

                    <ul class="product-btns">
                        <form method="post" asp-controller="Favories" asp-action="FavorieAdd">
                            <input type="hidden" name="favoriesId" value="@Model.Id"/> <!-- favoriesId değerini hidden input ile gönder -->
                            <button class="btn btn-success" type="submit">Favorilere Ekle</button> <!-- form submit butonu -->
                        </form>
                    </ul>

                    <ul class="product-links">
                        <li>Kategori:</li>
                        <li>
                            <a href="#">@Html.DisplayFor(x => x.CategoryId)</a>
                        </li>
                    </ul>

                    <ul class="product-links">
                        <li>Sosyal Medya:</li>
                        <li>
                            <a href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-envelope"></i>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
            <!-- /Product details -->

            <!-- Product tab -->
            <div class="col-md-12">
                <div id="product-tab">
                    <!-- product tab nav -->
                    <ul class="tab-nav">
                        <li class="active">
                            <a data-toggle="tab" href="#tab1">Açıklama</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#tab2">Detaylar</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#tab3">Yorumlar (3)</a>
                        </li>
                    </ul>
                    <!-- /product tab nav -->

                    <!-- product tab content -->
                    <div class="tab-content">
                        <!-- tab1  -->
                        <div id="tab1" class="tab-pane fade in active">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>@Html.DisplayFor(x => x.Description)</p>
                                </div>
                            </div>
                        </div>
                        <!-- /tab1  -->

                        <!-- tab2  -->
                        <div id="tab2" class="tab-pane fade in">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>@Html.DisplayFor(x => x.Description)</p>
                                </div>
                            </div>
                        </div>
                        <!-- /tab2  -->

                        <!-- tab3  -->
                        <div id="tab3" class="tab-pane fade in">
                            <div class="row">

                                @await Component.InvokeAsync("ProductComment", new { id = Model.Id })

                                <a href="/Comment/CommentAdd/@Model.Id">Yorum Yap</a>

                            </div>
                        </div>
                        <!-- /tab3  -->
                    </div>
                    <!-- /product tab content  -->
                </div>
            </div>
            <!-- /product tab -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->

<!-- Section -->
<div class="section">
    <!-- container -->

    @await Component.InvokeAsync("ProductSuggested")

    <!-- /container -->
</div>