@model eTicaretEL.Entities.Message?

@{
    ViewBag.Title = "title";
    Layout = "_LayoutAdmin";
}

<style>
    .email-app {
        display: flex;
        flex-direction: row;
        background: #fff;
        border: 1px solid #e1e6ef;
    }
    
    .email-app nav {
        flex: 0 0 200px;
        padding: 1rem;
        border-right: 1px solid #e1e6ef;
    }
    
    .email-app nav .btn-block {
        margin-bottom: 15px;
    }
    
    .email-app nav .nav {
        flex-direction: column;
    }
    
    .email-app nav .nav .nav-item {
        position: relative;
    }
    
    .email-app nav .nav .nav-item .nav-link,
    .email-app nav .nav .nav-item .navbar .dropdown-toggle,
    .navbar .email-app nav .nav .nav-item .dropdown-toggle {
        color: #151b1e;
        border-bottom: 1px solid #e1e6ef;
    }
    
    .email-app nav .nav .nav-item .nav-link i,
    .email-app nav .nav .nav-item .navbar .dropdown-toggle i,
    .navbar .email-app nav .nav .nav-item .dropdown-toggle i {
        width: 20px;
        margin: 0 10px 0 0;
        font-size: 14px;
        text-align: center;
    }
    
    .email-app nav .nav .nav-item .nav-link .badge,
    .email-app nav .nav .nav-item .navbar .dropdown-toggle .badge,
    .navbar .email-app nav .nav .nav-item .dropdown-toggle .badge {
        float: right;
        margin-top: 4px;
        margin-left: 10px;
    }
    
    .email-app main {
        min-width: 0;
        flex: 1;
        padding: 1rem;
    }
    
    .email-app .inbox .toolbar {
        padding-bottom: 1rem;
        border-bottom: 1px solid #e1e6ef;
    }
    
    .email-app .inbox .messages {
        padding: 0;
        list-style: none;
    }
    
    .email-app .inbox .message {
        position: relative;
        padding: 1rem 1rem 1rem 2rem;
        cursor: pointer;
        border-bottom: 1px solid #e1e6ef;
    }
    
    .email-app .inbox .message:hover {
        background: #f9f9fa;
    }
    
    .email-app .inbox .message .actions {
        position: absolute;
        left: 0;
        display: flex;
        flex-direction: column;
    }
    
    .email-app .inbox .message .actions .action {
        width: 2rem;
        margin-bottom: 0.5rem;
        color: #c0cadd;
        text-align: center;
    }
    
    .email-app .inbox .message a {
        color: #000;
    }
    
    .email-app .inbox .message a:hover {
        text-decoration: none;
    }
    
    .email-app .inbox .message.unread .header,
    .email-app .inbox .message.unread .title {
        font-weight: bold;
    }
    
    .email-app .inbox .message .header {
        display: flex;
        flex-direction: row;
        margin-bottom: 0.5rem;
    }
    
    .email-app .inbox .message .header .date {
        margin-left: auto;
    }
    
    .email-app .inbox .message .title {
        margin-bottom: 0.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
    .email-app .inbox .message .description {
        font-size: 12px;
    }
    
    .email-app .message .toolbar {
        padding-bottom: 1rem;
        border-bottom: 1px solid #e1e6ef;
    }
    
    .email-app .message .details .title {
        padding: 1rem 0;
        font-weight: bold;
    }
    
    .email-app .message .details .header {
        display: flex;
        padding: 1rem 0;
        margin: 1rem 0;
        border-top: 1px solid #e1e6ef;
        border-bottom: 1px solid #e1e6ef;
    }
    
    .email-app .message .details .header .avatar {
        width: 40px;
        height: 40px;
        margin-right: 1rem;
    }
    
    .email-app .message .details .header .from {
        font-size: 12px;
        color: #9faecb;
        align-self: center;
    }
    
    .email-app .message .details .header .from span {
        display: block;
        font-weight: bold;
    }
    
    .email-app .message .details .header .date {
        margin-left: auto;
    }
    
    .email-app .message .details .attachments {
        padding: 1rem 0;
        margin-bottom: 1rem;
        border-top: 3px solid #f9f9fa;
        border-bottom: 3px solid #f9f9fa;
    }
    
    .email-app .message .details .attachments .attachment {
        display: flex;
        margin: 0.5rem 0;
        font-size: 12px;
        align-self: center;
    }
    
    .email-app .message .details .attachments .attachment .badge {
        margin: 0 0.5rem;
        line-height: inherit;
    }
    
    .email-app .message .details .attachments .attachment .menu {
        margin-left: auto;
    }
    
    .email-app .message .details .attachments .attachment .menu a {
        padding: 0 0.5rem;
        font-size: 14px;
        color: #e1e6ef;
    }
    
    
</style>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="bootdey">
    <div class="email-app mb-4">
        <nav>
            <a href="/AdminMessage/NewMessage/" class="btn btn-success btn-block">Yeni Mesaj</a>
            <ul class="nav">
                <li class="nav-item">
                    <span class="badge badge-danger">@ViewBag.v1</span> <a class="nav-link" href="/AdminMessage/Reciver/"><i class="fa fa-inbox"></i> Gelen Kutusu </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/AdminMessage/Sender/"><i class="fa fa-rocket"></i> Gönderilenler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/AdminMessage/Deleted/"><i class="fa fa-trash-o"></i>Silinenler</a>
                </li>
            </ul>
        </nav>
        <main class="inbox">
            <div class="toolbar">
                <div class="btn-group">
                    <button type="button" class="btn btn-light">
                        <span class="fa fa-envelope"></span>
                    </button>
                    <button type="button" class="btn btn-light">
                        <span class="fa fa-star"></span>
                    </button>
                    <button type="button" class="btn btn-light">
                        <span class="fa fa-star-o"></span>
                    </button>
                    <button type="button" class="btn btn-light">
                        <span class="fa fa-bookmark-o"></span>
                    </button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-light">
                        <span class="fa fa-mail-reply"></span>
                    </button>
                    <button type="button" class="btn btn-light">
                        <span class="fa fa-mail-reply-all"></span>
                    </button>
                    <button type="button" class="btn btn-light">
                        <span class="fa fa-mail-forward"></span>
                    </button>
                </div>
                <button type="button" class="btn btn-light">
                    <span class="fa fa-trash-o"></span>
                </button>
                <div class="btn-group">
                    <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
                        <span class="fa fa-tags"></span>
                        <span class="caret"></span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">add label <span class="badge badge-danger"> Home</span></a>
                        <a class="dropdown-item" href="#">add label <span class="badge badge-info"> Job</span></a>
                        <a class="dropdown-item" href="#">add label <span class="badge badge-success"> Clients</span></a>
                        <a class="dropdown-item" href="#">add label <span class="badge badge-warning"> News</span></a>
                    </div>
                </div>
                <div class="btn-group float-right">
                    <button type="button" class="btn btn-light">
                        <span class="fa fa-chevron-left"></span>
                    </button>
                    <button type="button" class="btn btn-light">
                        <span class="fa fa-chevron-right"></span>
                    </button>
                </div>
            </div>

            <ul class="messages">
                <form method="post" asp-controller="AdminMessage" asp-action="FalseMessage">
                    <input type="hidden" name="Id" value="@Html.DisplayFor(x => x.Id)"/>
                    <input type="hidden" name="Status" value="0"/>
                    <button class="btn btn-warning" type="submit">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                </form>
                <li class="message unread">
                    <a href="#">
                        <div class="actions">
                            <span class="action">
                                <i class="fa fa-square-o"></i>
                            </span>
                            <span class="action">
                                <i class="fa fa-star-o"></i>
                            </span>
                        </div>
                        <div class="header">
                            <span class="from">@Html.DisplayFor(x => x.SenderMail)</span>
                            <span class="date">
                                <span class="fa fa-paper-clip"></span>@Html.DisplayFor(x => x.Date)
                            </span>
                        </div>
                        <div class="title">
                            @Html.DisplayFor(x => x.Title)
                        </div>
                        <div class="description">
                            @Html.DisplayFor(x => x.Description)
                        </div>
                    </a>
                </li>

            </ul>
        </main>
    </div>
</div>